<h1 class="field giftedit">Edit your Gift!</h1>
  <%= form_for @gift do |f| %>
    <div class="field editgift">
     <%= f.label :gift, "Edit your gift!", class: 'edit-gift' %>
     <%= f.text_field :gift %>
    </div>
    <div class="field editgift">
     <%= f.label :price, class: 'edit-gift' %>
     <%= f.text_field :price %>
    </div>
    <div class="field editgift">
     <%= f.label :reason, class: 'edit-gift' %>
     <%= f.text_field :reason %>
    </div>
    <div class="field editgift">
     <%= f.label :category, class: 'edit-gift' %>
     <%= f.text_field :category %>
    </div>
    <div class="action submitedit" id="edit">
     <%= f.submit'Edit Gift' %>
    </div>
  <% end %>
